<nav>
    <form class="input-container" id="searchForm">
        <input type="text" class="input" id="searchInput" placeholder="Search..." autocomplete="off">
        <i class="fa-solid fa-magnifying-glass magnifier"></i>
        <div id="searchResults" class="search-results"></div>
    </form>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/recipes">Recipes</a></li>
    </ul>
</nav>
