<nav>
    <form class="input-container">
        <input type="text" class="input" placeholder="Search...">
        <i class="fa-solid fa-magnifying-glass magnifier"></i>
    </form>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/recipes">Recipes</a></li>
    </ul>
</nav>
