<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaVisio Vegan Food Blog</title>
    <link rel="stylesheet" href="/../css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <main>
        <div class="about-content">
            <h1>About Us</h1>
            <p>Welcome to FlaVisio, your go-to source for delicious vegan recipes and plant-based living tips.</p>
            <section class="about-section">
                <h2>Our Mission</h2>
                <p>At FlaVisio, we are passionate about promoting a healthy and compassionate lifestyle through plant-based eating. Our mission is to provide you with the best vegan recipes, tips, and inspiration to help you lead a fulfilling vegan lifestyle.</p>
            </section>
            <section class="about-section">
                <h2>Meet the Founder</h2>
                <p>Hi, I'm Dimitrios Nicolay, the founder of FlaVisio. With a background in software engineering and a passion for vegan cooking, I created this blog to share my love for plant-based food with the world. You can find more about my work and projects on my <a href="https://github.com/DimitriosNicolay" target="_blank">GitHub profile</a>.</p>
            </section>
            <section class="about-section">
                <h2>Our Values</h2>
                <ul>
                    <li>Compassion: We believe in treating all living beings with kindness and respect.</li>
                    <li>Health: We promote a healthy lifestyle through nutritious and delicious vegan recipes.</li>
                    <li>Sustainability: We are committed to protecting the environment by encouraging sustainable eating habits.</li>
                </ul>
            </section>
            <section class="about-section">
                <h2>Join Our Community</h2>
                <p>We invite you to join our community of like-minded individuals who share a passion for vegan living. Follow us on social media, subscribe to our newsletter, and get involved in our discussions to stay updated with the latest vegan recipes and tips.</p>
            </section>
        </div>
    </main>
</body>
</html>