<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressum - FlaVisio Vegan Food Blog</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <main>
        <div class="about-content">
            <h1>Impressum</h1>
            <section class="impressum-section">
                <h2>Angaben gemäß § 5 TMG</h2>
                <p>
                    BBQ - Baumann Bildung und Qualifizierung GmbH<br>
                    Wagnerstraße 14<br>
                    40212 Düsseldorf
                </p>
                <h2>Kontakt</h2>
                <p class="impressium a">E-Mail: <a href="mailto:hey@dnicolay.de">hey@dnicolay.de</a></p>
                <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
                <p>Dimitrios Nicolay</p>
                <h2>Hinweise</h2>
    
            <h3>Über diese Seite</h3>
            <p>
                Dieser Blog wurde im Rahmen eines Arbeitsauftrags der <strong>BBQ - Baumann Bildung und Qualifizierung GmbH</strong> erstellt. 
                Die Inhalte spiegeln ausschließlich persönliche Erfahrungen und Rezepte wider und stellen keine offiziellen Aussagen der BBQ GmbH dar.
            </p>
            <h3>Nutzung der Inhalte</h3>
            <p>
                Alle Inhalte sind frei verfügbar und dürfen ohne Rücksprache genutzt werden. 
                Eine Quellenangabe (Link zum Blog) ist erwünscht, aber nicht verpflichtend.
            </p>
            <h3>Haftungsausschluss</h3>             
            <p>
                Inhalte wurden sorgfältig erstellt, für Fehler oder Schäden wird keine Haftung übernommen. 
                Für externe Links sind ausschließlich deren Betreiber verantwortlich.
            </p>
            <h3>Urheberrecht</h3>
            <p>Sofern nicht anders gekennzeichnet, stehen alle Inhalte unter freier Lizenz.</p>
            <p><a href="https://web.archive.org/web/20240601160850/http://www.andreasfischermachines.de/texte.txt"><img src="/images/raven.png" alt="raven icon" class="raven-icon"></a></p> 
            </section>
        </div>
    </main>
</body>
</html>