<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes - My Vegan Food Blog</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <main>
        <div class="header">
            <h1>Our Recipes</h1>
            <a href="/newRecipe" class="main-btn">
                <i class="fas fa-plus"></i> New Recipe
            </a>
        </div>
        <% recipes.forEach(recipe => { %>
            <div class="container">
                <div class="img" style="background-image: url('<%= recipe.image %>');"></div>
                <div class="content-container">
                    <h2><%= recipe.title %></h2>
                    <p><%= recipe.content ? recipe.content.substring(0, 150) : 'No content available' %>...</p>
                    <a href="/recipe/<%= recipe.id %>" class="main-btn">View Recipe</a>
                </div>
            </div>
        <% }); %>
    </main>
</body>
</html>